<section>
  <header>
    <p class="text-xl">Your Account Information</p>
  </header>
  <app-account-display
    *ngIf="personalInfoLoaded$ | async"
    [account]="account$ | async"
  ></app-account-display>
  <div *ngIf="(personalInfoLoaded$ | async) === false">
    <p>Loading your personal information....</p>
  </div>
</section>
<section>
  <header class="text-l">Your Order History:</header>
  <a [routerLink]="['order-history']">See Your Order History</a>
</section>

<router-outlet></router-outlet>
