<nav
  class="fixed h-screen flex-shrink-0 w-full md:w-64 md:sticky z-10 hidden md:block"
>
  <ul>
    <li>
      <a class="btn-link" [routerLink]="['home']" [routerLinkActive]="['active']"
        >Home</a
      >
    </li>
    <li>
      <a
        class="btn-link"
        [routerLink]="['topics']"
        [routerLinkActive]="['active']"
        >Topics</a
      >
    </li>
    <li *ngIf="isLoggedIn$ | async">
      <a
        class="btn-link"
        [routerLink]="['account']"
        [routerLinkActive]="['active']"
        >My Account</a
      >
    </li>
  </ul>
  <div class="btn-link" *ngIf="isLoggedIn$ | async">
    <button (click)="logOut()">Log Out</button>
  </div>
</nav>
